<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>New Meeting</title>
</head>
<body>
    <form action="/meetings" method="POST">
        <h2>New Meeting</h2>
        <label for="">Title</label>
        <input type="text" name="title">
        <label for="">End date</label>
        <input type="date" name="endTime" id="">
        <input type="submit" value="Submit">
    </form>
</body>
</html>