<html>
  <head>
    <style>
        tr {
            vertical-align: top;
        }

        .video {
            width: 360px;
            background-color: black;
            margin: 2px 0;
        }

        button {
            margin: 2;
        }

        #videoContainer {
            padding: 5;
            background-color: papayawhip;
            display: flex;
            justify-content: center;
        }

        #sharedBtns {
            padding: 5;
            background-color: papayawhip;
            display: flex;
            justify-content: center;
        }
    </style>
  </head>
  <body>
        <input type="hidden" id="roomId" value=<%= roomId %>>
        <div id="video">
            <table>
                <thead>
                    <th>Local Video</th>
                </thead>
                <tbody>
                    <tr>
                        <td>
                            <div id="videoContainer">
                                <video id="localVideo" autoplay class="video" playsinline></video>
                            </div>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <div id="sharedBtns">
                                <button id="endCallBtn">End Call</button>
                            </div>
                        </td>
                    </tr>
        
                </tbody>
            </table>
        </div>
    </body>
  <script src="/bundle.js"></script>
</html>