<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Profile</title>
    <link rel="stylesheet" href="style.css">
</head>
<body>
    <div id="container">
        <div id="profile">
            <img id="profileImg" src="<%= user.profileImgUrl %>" alt="">
            <h2><%= user.name %></h2>
        </div>
    </div>
</body>
</html>